body {
  margin: 0;
  font-family: "PT Root UI", sans-serif;
  font-style: normal;
  background: #fff;
  font-weight: 400;
  font-size: 22px;
  color: #20426C;
  line-height: normal;
  overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* шапка для меню   */
header {
  position: fixed; /* Закрепляем шапку */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Чтобы было поверх всего остального */
  background: #fff; /* Белый фон */
  border-bottom: 1px solid #ccc; /* Нижняя граница */
  display: flex; /* Используем Flexbox */
  justify-content: space-between; /* Пространство между элементами */
  align-items: center; /* Выравнивание по центру по вертикали */
  padding: 0px 15px 0px 10px;
  box-shadow: 0 2px 8px rgba(243, 241, 241, 0.1); /* Лёгкая тень */
}



/*    */
.logo-title {
  display: flex;
  align-items: center;
  line-height: normal;
}

/*    */
.logo-title img {
  height: 80px;
  margin-right: 10px;
}

/*    */
nav {
  display: flex;
  align-items: center;
}

/*    */
.menu {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px 15px 0px 10px;
}

/*  между меню  */
.menu li {
  margin: 0 15px;
}

/*   меню именно текст */
.menu a {
  text-decoration: none;
  font-weight: 600;
  color: #20426C; /* начальный цвет */
  transition: color 0.3s ease; /* плавный переход */
}

.menu a:hover {
  color: #E51E40; /* цвет при наведении мышки менеятся */
}



/*    */
.lang-search {
  margin-left: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

/*    */
.search {
  font-weight: bold;
}

/*  фон+Музей ГУУ  */
.hero {
  box-sizing: border-box;
  background-image: url('static/image/glav1.png');
 /*  background: #20426C; */
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vh;
  padding: 200px 40px;
  color: white; 
}


/*    */
.hero .tagline {
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 40px;
  margin:auto;
  color: #ffffff;
}

/*    */
.hero h1 {
  font-size: 8em;
  color: #ffffff;
  margin: 1px 0 0;
}

/*    */
main {
  padding: 20px 20px;
  background: #fff;
  flex:1;
}


h1 {
  font-size: 60px;
}

h2{
  font-size: 25px;
}



/* Стили для секций */
section {
  padding: 100px 50px;
  border-bottom: 2px solid #ddd;
}

/* Активный элемент меню */
nav ul li a.active {
  font-weight: bold;
    color: hsl(212, 79%, 13%);

}

/* Простая анимация перехода */
html {
  scroll-behavior: smooth;
}

/*  для меню кнопки  */
.burger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #20426C;
  cursor: pointer;
  margin-left: 20px;
  z-index: 101;
}









/* шапка для меню   */
header {
  position: fixed; /* Закрепляем шапку */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Чтобы было поверх всего остального */
  background: #fff; /* Белый фон */
  border-bottom: 1px solid #ccc; /* Нижняя граница */
  display: flex; /* Используем Flexbox */
  justify-content: space-between; /* Пространство между элементами */
  align-items: center; /* Выравнивание по центру по вертикали */
  padding: 0px 15px 0px 10px;
  box-shadow: 0 2px 8px rgba(243, 241, 241, 0.1); /* Лёгкая тень */
}



/*    */
.logo-title {
  display: flex;
  align-items: center;
  line-height: normal;
}

/*    */
.logo-title img {
  height: 80px;
  margin-right: 10px;
}

/*    */
nav {
  display: flex;
  align-items: center;
}

/*    */
.menu {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px 15px 0px 10px;
}

/*  между меню  */
.menu li {
  margin: 0 15px;
}

/*   меню именно текст */
.menu a {
  text-decoration: none;
  font-weight: 600;
  color: #20426C; /* начальный цвет */
  transition: color 0.3s ease; /* плавный переход */
}

.menu a:hover {
  color: #E51E40; /* цвет при наведении мышки менеятся */
}


.about {
 box-sizing: border-box;
 text-align: center;
 background-color: #fff;
 color: #20426C;
 width: 100%;
 height: 100%;
 padding: 100px 150px 50px 150px;
 margin: 0 20px 0 0;
}

.history
{
   box-sizing: border-box;
 /* background-attachment: fixed; */
  background-image: url("static/image/history1.png");
    background-color: #20426C;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    
    padding: 100px 150px 50px 150px;
}

.history1,
history2,
history3,
history4,
history5,
history6,
history7,
history8,
history9,
history10{
   box-sizing: border-box;
 text-align: center;
 background-color: #fff;
 color: #20426C;
 width: 100%;
 height: 100%;
 padding: 100px 150px 50px 150px;
 margin: 0 20px 0 0;
}

.exhibits {
 text-align: center;
 background-color: #fff;
 color: #20426C;
 width: 100%;
 height: auto;
}

.alex,
.koz,
.un,
.pod{
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.alex-gallery-container,
.koz-gallery-container,
.un-gallery-container,
.pod-gallery-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

#alex-img,
#koz-img,
#un-img,
#gallery-image{
  max-width: 500px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#alex-text,
#koz-text,
#un-text,
#pod-text{
  flex: 1;
 
  line-height: 1.6;
  color: #20426C;
  max-width: 600px;
  text-align: left;
}



.sov,
.voi,
.por {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

#sov-text,
#voi-text,
#por-text ,
 {
  flex: 1;
  
  line-height: 1.6;
  color:#20426C;
  max-width: 600px;
  text-align: left;
}

.sov-gallery-container,
.voi-gallery-container,
.por-gallery-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

#sov-img,
#voi-img,
#por-img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}




/*
.exhibits-button {
  background-color: #20426C;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  flex-direction: end; 
}
*/


.button-wrap {
    display: flex;
    justify-content: flex-end; /* кнопка справа */
}

.exhibits-button {
    padding: 10px 18px;
    background-color: #20426C;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
}



/*
.ex:link, ex:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ex:hover, ex:active {
  background-color: red;
} */





footer.contacts {
  background: #20426C; 
 /*background-size: cover;
  background-position: center; */
  margin: -15px;
  text-align: center;
  width: 100%;
  height: auto; /* или 100%, выберите одно */
  display: block;
  visibility: visible;
  position: relative;
  pointer-events: all;
  margin: 0;
  z-index: 1;
  padding: 35px 0 45px;
  background-size: cover;

  color: #fff;
  padding: 35px 20px 45px;
  
}
.links img {
  height: 40px;          /* нормальная высота иконок — можешь изменить под свой дизайн */
  width: auto;           /* сохраняет пропорции изображения */
  margin-right: 10px;    /* небольшой отступ между иконками */
  cursor: pointer;       /* курсор-рука при наведении */
  transition: transform 0.2s ease; /* плавная анимация */
}

.links img:hover {
  transform: scale(1.1);  /* лёгкое увеличение при наведении */
}





    h1 {
      text-align: center;
      margin-top: 25px 20px 0px 20px;
    }






footer.contacts {
  background: #20426C; 
 /*background-size: cover;
  background-position: center; */
  
 margin: -15px;
  text-align: center;
  width: 100%;
  height: auto; /* или 100%, выберите одно */
  display: block;
  visibility: visible;
  pointer-events: all;
  margin: 0;
  z-index: 1;
  padding: 35px 0 45px;
  background-size: cover;
  font-size: 18px;
  color: #fff;
  padding: 35px 20px 45px;
  
}
.links img {
  height: 40px;          /* нормальная высота иконок — можешь изменить под свой дизайн */
  width: auto;           /* сохраняет пропорции изображения */
  margin-right: 10px;    /* небольшой отступ между иконками */
  cursor: pointer;       /* курсор-рука при наведении */
  transition: transform 0.2s ease; /* плавная анимация */
}

.links img:hover {
  transform: scale(1.1);  /* лёгкое увеличение при наведении */
}



  
@media (max-width: 768px) {
  body {
    font-size: 16px;
    margin: 0;
    width: 100%;
  }


  header {
    flex-direction: row;
   
    padding: 10px 10px 10px 15px;
  }

  .logo-title img {
    height: 50px;
  }

  /* Показываем бургер справа */
  .burger {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: #20426C;
    cursor: pointer;
    z-index: 101;
 
    justify-content: flex-end;
  }

  /* Скрытое меню, появляется при нажатии */
  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    background-color: #fff;
    padding: 10px 20px;
    position: absolute;
    top: 60px; /* отступ от хедера */
    right: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
    
  }

  .menu li {
    margin: 10px 0;
  }

  .menu.active {
    display: flex;
  }


  .lang-search {
    margin-left: 0;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
  }

  .hero {
    padding: 120px 20px;
    width: 100%;
    height: auto;
  }

  .hero .tagline {
    padding: 0;
    font-size: 16px;
  }

  .hero h1 {
    font-size: 2.5em;
  }

section,
  .history,
  .exhibits,
  .about {
    height: auto;
    padding: 10px;
    text-align: center; /* Центрирование контента на маленьких экранах */
  }

  .exhibits {
    text-align: center;
    padding: 10px;
  }


  .alex,
  .koz,
  .un,
  .sov,
  .voi,
  .por,
  .pod {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
  }

  #alex-img,
  #koz-img,
  #un-img,
  #sov-img,
  #voi-img,
  #por-img,
  #gallery-image {
    max-width: 90%;
  }

  #alex-text,
  #koz-text,
  #un-text,
  #sov-text,
  #voi-text,
  #por-text,
  #pod-text  {
    max-width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .alex-gallery-container,
  .koz-gallery-container,
  .un-gallery-container,
  .sov-gallery-container,
  .voi-gallery-container,
  .por-gallery-container,
  .pod-gallery-container  {
    flex-direction: column;
    align-items: center;
  }

  button {
    font-size: 18px;
    padding: -100px -120px;
  }
}


  
 

footer.contacts {
  background: #20426C; 
  text-align: center;
  width: 100%;
  height: auto; /* или 100%, выберите одно */
  display: block;
  visibility: visible;
  position: relative !important;
  bottom: auto;
  pointer-events: all;
  /*  opacity: 1;  */
  margin: 0;
  z-index: 1;
  padding: 35px 0 45px;


  color: #fff;

  font-size: 14px;
}
.links img {
  height: 32px;          /* нормальная высота иконок — можешь изменить под свой дизайн */
  width: auto;           /* сохраняет пропорции изображения */
  flex-shrink: 8px;    /* небольшой отступ между иконками */
  cursor: pointer;       /* курсор-рука при наведении */
  transition: transform 0.2s ease; /* плавная анимация */
}

.links img:hover {
  transform: scale(1.1);  /* лёгкое увеличение при наведении */
}
